body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    text-align: center;
}

.home-page {
    float: right;
}

.header {
    font-family: OpenSans;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

.container {
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 5px;
    width: 90%;
    margin: 15px auto;
    font-family: DancingScript;
    padding: 10px;
    column-count: 3;
    column-gap: 15px;
    column-rule: 1px solid darkred;
    border: 1px solid rgba(0, 0, 0, 0.223);

}

.p-header {
    font-weight: bold;
    font-family: OpenSans;
    color: darkred;
}

.menu{
    margin: 0 auto;
    width: 96%;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.link {
    font-family: OpenSans;
    float: left;
    text-align: center;
    width: 16.6667%;
    padding: 10px 0px;   
    color: white; 
    text-decoration: none;
}

.link:hover{
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
    background-color:#ce0100;
    border-radius: 5px;
}

.contact {
    font-family: OpenSans;
    list-style: none;
    text-align: center;
    padding: 30px; 
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;

}

.copy-rights {
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.582);
    font-family: OpenSans;
    color: white;
    margin: 0px;
    padding: 5px 10px;
}


@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Italic.ttf')
}
@font-face {
    font-family: "DancingScript";
    src: url('../fonts/DancingScript-Regular.ttf')
}